* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(15,194,192);
    background: radial-gradient(circle, rgba(15,194,192,1) 0%, rgba(12,171,168,1) 35%, rgba(2,53,53,1) 100%);
}

.nav__container {
    background:transparent;
    font-family: "Orbitron", sans-serif;
    font-weight: 800;
}
.nav__container .options {
    display: flex;
    justify-content: end;
}
.nav__container .options div a {
    -webkit-text-stroke: 0.2px rgb(0, 0, 0);
    text-decoration: none;
    padding: 20px;
    align-items: center;
    /* color: rgba(0, 0, 0, 0.723); */
    color: rgb(255, 255, 255);
    transition: all 1s;
}
.nav__container .options div a:hover {
    color: rgba(15,194,192);
    transform: scale(1.1);
}
.nav__container .name {
    color: white;
    -webkit-text-stroke: 0.2px rgb(0, 0, 0);
    text-decoration: none;
    padding: 20px;
    margin-left: 40px;
}

.tittle_container {
    -webkit-text-stroke: 1.7px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    grid-area: h1;
    font-size: 28px;
}

.de {
    grid-area: de;
    font-family: 'Orbitron', sans-serif;
    appearance: none;
    display: inline-block;
	width: 100%;
	cursor: pointer;
    padding: 7px 10px;
    height: 42px;
    outline: 0; 
    border: 0;
	border-radius: 0;
	background: #fffefe;
	font-size: 1em;
	border:2px solid rgb(0, 0, 0);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
    box-shadow: 5px 5px 20px black;
}

select:hover {
    background: rgb(12, 212, 209);
}

.a {
    grid-area: a;
    font-family: 'Orbitron', sans-serif; 
    appearance: none;
	width: 100%;
	cursor: pointer;
    padding: 7px 10px;
    height: 42px;
    outline: 0; 
    border: 0;
	border-radius: 0;
	background: #fffefe;
	font-size: 1em;
	border:2px solid rgb(0, 0, 0);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
    box-shadow: 5px 5px 20px black;
}

.valor {
    grid-area: valor;
    font-family: 'Orbitron', sans-serif;
    appearance: none;
	width: 100%;
	cursor: pointer;
    height: 42px;
    outline: 0; 
    border: 0;
	border-radius: 0;
	background: #fffefe;
	font-size: 1em;
	border:2px solid rgb(0, 0, 0);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease; 
    box-shadow: 5px 5px 20px black;
}

.resultado {
    grid-area: resultado;
    font-family: 'Orbitron', sans-serif;
    appearance: none;
    display: inline-block;
	width: 100%;
	cursor: pointer;
    height: 42px;
    outline: 0; 
    border: 0;
	border-radius: 0;
	background: #fffefe;
	font-size: 1em;
	border:2px solid rgb(0, 0, 0);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease; 
    box-shadow: 5px 5px 20px black;
}

.vector {
    grid-area: vector;
    font-family: 'Orbitron', sans-serif;
    justify-self: end;
}


iframe {
    grid-area: iframe;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 20px black;
}

.main__container {
    font-family: 'Orbitron', sans-serif;  
    display: grid;
    grid-template-columns: 2fr 0.5fr 2fr;
    grid-template-rows: 0.3fr 0.1fr 0.1fr 0.2fr;
    grid-template-areas:
    "h1 h1 h1"
    "de vector a"
    "valor vector resultado"
    "iframe iframe iframe";
    gap: 50px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: rgb(228, 224, 211);
    width: 34rem;
    height: 34rem;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 3px solid black;
    border-radius: 15%;
    padding: 2rem;
    box-shadow: 5px 5px 20px black;
}

iframe {
    grid-area: iframe;
    width: 300px;
    height: 200px;
}

footer {
    color: white;
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    font-family: "Orbitron", sans-serif;
    padding: 10px;
    margin: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.222);
    display: flex;
    justify-content: center;
    align-items: center;
} 

/* RESPONSIVE */ 

@media only screen and (max-width: 420px) {

    .tittle_container {
        color: white;
        -webkit-text-stroke: 1px rgb(0, 0, 0);
        font-size: 18px;   
    }

    .nav__container .name {
        font-size: 15px;
    }
    .main__container {
        width: 300px  !important;
        height: 300px;
        font-size: 10px;
        gap: 50px 20px;
    }

    .de {
        width: 80px;
        font-size: 10px; 
    }

    .a {
        width: 80px;
        font-size: 10px; 
    }

    .valor {
        width: 80px;
        font-size: 10px; 
    }

    .resultado {
        width: 80px;
        font-size: 10px; 
    }

    iframe {
        display: none;
        width: 200px;
        height: 100px;
    }

    .vector {
        width: 10px;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        position: absolute;
        bottom: 0;
        width: 400px;
    }
}